@import './variables.scss';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f5f7fa;
}

::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: $text-black;
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

textarea:focus,
input:focus,
select:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

@media (max-width: 1399.98px) {
  .ex-br {
    display: none !important;
  }
  .wr-br {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 1400px) {
  .ex-br {
    display: flex !important;
  }
}

@media (max-width: 1023.98px) {
  .ra-br {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .ra-br {
    display: flex !important;
  }
}

.bg {
  background: var(--bg-linear, linear-gradient(180deg, #e4e4e4 0%, #e7e7e7 100%));
}

.login-modal {
  height: 70vh;
  width: 60vw;

  max-width: 1280px;
}

@media (max-width: 1400px) {
  .login-modal {
    height: 70vh;
    width: 50vw;
  }

  .hide-tablet {
    display: none !important;
  }
}

@media (max-width: 700px) {
  .login-modal {
    height: 100vh;
    width: 100vw;
  }

  .hide-mobile {
    display: none !important;
  }
}

input[type='range'] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 100%;
  cursor: pointer;
  outline: none;
}

/* Thumb: webkit */
input[type='range']::-webkit-slider-thumb {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  height: 0.625rem;
  width: 0.625rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0.15rem solid #000;
}

/* Thumb: Firefox */
input[type='range']::-moz-range-thumb {
  height: 0.625rem;
  width: 0.625rem;
  background-color: #fff;
  border-radius: 50%;
  border: 0.15rem solid #000;
}

input {
  background: transparent;
}
select {
  background: transparent;
}

.base-panel {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  align-self: stretch;

  border-radius: 0.25rem;
  background: $bg-base;

  .results {
    color: $text-black;
    font-family: Inter;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: -0.015rem;
  }
}

.layout-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  max-width: 18vw;

  .welcome-banner {
    display: flex;
    padding: 1.5rem;
    justify-content: center;
    align-items: center;

    align-self: stretch;
    border-radius: 0.25rem;
    background: radial-gradient(
      175.39% 372.15% at 49.91% 350%,
      #14102d 65.52%,
      #4936c0 77.77%,
      #90a0f3 90.01%,
      #f5f0eb 99.99%,
      #f5f0eb 100%
    );
    position: relative;
    overflow: hidden;

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1 0 0;

      .main-text {
        color: $text-white;
        font-family: Inter;
        font-size: 1rem;
        font-style: italic;
        font-weight: 900;
        line-height: 120%;
        letter-spacing: -0.02rem;

        align-self: stretch;
      }

      span {
        color: $text-white;
        font-family: Inter;
        font-size: 0.625rem;
        font-weight: 500;
        line-height: 120%;
        letter-spacing: -0.0125rem;

        align-self: stretch;
      }
    }

    .panel-blobs {
      width: 10rem;
      height: 9rem;

      position: absolute;
      right: 0rem;
      bottom: -2rem;

      mix-blend-mode: soft-light;
    }

    .panel-blobs-2 {
      width: 10rem;
      height: 9rem;

      position: absolute;
      right: 0rem;
      bottom: -2rem;

      mix-blend-mode: soft-light;
    }
  }
}

@import './topbar.scss';
@import './timeline.scss';
@import './dashboard.scss';
@import './inputs.scss';
@import './settings.scss';
@import './profile.scss';
@import './notifications.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;
