.timeline-wrapper {
  padding: 1.5rem 12%;
  /* max-width: 32rem; */
  /* flex flex-row gap-2 w-full h-full align-center py-6 px-[12%] z-50 */
}

.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 900px) {
  .timeline-wrapper {
    padding: 0.5rem 6%;
  }
}
@media (max-width: 450px) {
  .timeline-wrapper {
    padding: 3% 0%;
  }
}
