.timeline-wrapper {
  padding: 1.5rem 12%;
  /* max-width: 32rem; */
  /* flex flex-row gap-2 w-full h-full align-center py-6 px-[12%] z-50 */
}

.timeline-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (max-width: 900px) {
  .timeline-wrapper {
    padding: 0.5rem 6%;
  }
}
@media (max-width: 450px) {
  .timeline-wrapper {
    padding: 3% 0%;
  }
}

.post-expand {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: center;
  height: 80%;
  z-index: 100;
  width: auto;
}
#post-popup-mobile {
  display: none;
}

@media (max-width: 900px) {
  #post-popup-desktop {
    display: none;
  }
  #post-popup-mobile {
    display: block;
  }
  .post-expand {
    width: 100%;
    height: 95%;

    .mobile-remove {
      display: none !important;
    }
  }
}
